* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 200px;
    height: 300px;
}

h4 {
    display: block;
}

p {
    display: block;
}

li {
    list-style-type: none;
    margin-bottom: 1em;

}

#like {
    background-color: #D8D8D8;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    width: 2em;
    margin-right: 1em;
    margin-left: 0.5em;
}

#like:hover {
    background-color: #93BFCF;
}

#header {
    background-color: #F56EB3;
    color: white;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
}

#header button {
    margin: auto;
    position: absolute;
    right: 2em;
    top: 2.5em;
    height: 3em;
    width: 5em;
    background-color: transparent;
    cursor: pointer;
    border: 2px solid whitesmoke;
    border-radius: 5px;
}

#siHover {
    display: none;
}

#noHover:hover {
    display: none;
}

#noHover:hover~#siHover {
    display: flex;
    justify-content: center;
}

#saludo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
}

#login {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#tituloLogin {
    padding-top: 2em;
    padding-bottom: 2em;
}

#botonLogin {
    margin-top: 2em;
    margin-bottom: 2em;
    border: none;
    border-radius: 20px;
    height: 3em;
    width: 6em;
    background-color: #F56EB3;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

#botonLogin:hover {
    background-color: #FFC6D3;
}

#cambiarUser {
    margin-top: 2em;
    margin-bottom: 2em;
    border: none;
    border-radius: 20px;
    height: 3em;
    width: 10em;
    background-color: #F56EB3;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

#cambiarUser:hover {
    background-color: #FFC6D3;
}

#contenido {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
}

#buscarPeliculas {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid #D8D8D8;
    margin-left: 2em;
    border-radius: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#botonesPags {
    align-items: center;
    display: flex;
    margin-top: -1em;
    margin-bottom: 1em;
}

#botonesPags button {
    border-radius: 25px;
    width: 4em;
    height: 2em;
    cursor: pointer;
    background-color: #F7C8E0;
    border: none;
}

#buscador {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buscador input {
    margin-right: 2em;
    width: 18em;
}

#botonBuscar {
    margin-top: 2em;
    margin-bottom: 2em;
    border: none;
    border-radius: 20px;
    height: 1.8em;
    width: 6em;
    background-color: #F56EB3;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

#botonBuscar:hover {
    background-color: #FFC6D3;
}

#miSeleccion {
    flex-direction: column;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid #D8D8D8;
    margin-right: 2em;
    border-radius: 20px;
}

#miSeleccion li {
    margin-left: 1.5em;
    margin-right: 1.5em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    border: 3px solid #D8D8D8;
    background-color: #D8D8D8;
    border-radius: 20px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

#miSeleccion p {
    margin-left: 20%;
    margin-right: 20%;
}

#miSeleccion summary {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

#tituloSeleccion {
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

#cerrarInfo {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}

#cerrarInfo h2 {
    margin-bottom: 1em;
    margin-top: 1em;
}

#cerrarInfo button {
    margin-left: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    position: absolute;
    left: 0;
    border: none;
    cursor: pointer;
}

#informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#informacion h2 {
    font-size: large;
    color: #F56EB3;
}

#informacion p {
    font-size: small;
}

#informacion h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#botonBorrar {
    margin-right: 1em;
    color: whitesmoke;
    background-color: #F56EB3;
    border-color: #F56EB3;
    width: 5em;
    cursor: pointer;
    border-radius: 10px;
}

#botonBorrar:hover {
    background-color: whitesmoke;
    color: #F56EB3;
    border-color: #F56EB3;
}

#botonInfo {
    margin-right: 1em;
    color: whitesmoke;
    background-color: #F56EB3;
    border-color: #F56EB3;
    width: 5em;
    cursor: pointer;
    border-radius: 10px;
}

#botonInfo:hover {
    background-color: whitesmoke;
    color: #F56EB3;
    border-color: #F56EB3;
}
#botonVisto{
    margin-right: 1em;
    color: whitesmoke;
    background-color: #F56EB3;
    border-color: #F56EB3;
    width: 2em;
    cursor: pointer;
    border-radius: 10px;

}
@media screen and (max-width: 768px) {
    #contenido {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    #miSeleccion{
        margin-right: 1em;
        margin-left: 1em;
        margin-bottom: 2em;
    }
    #buscarPeliculas{
        margin-right: 1em;
        margin-left: 1em;
        margin-bottom: 2em;
    }
    #header button{
        display: none;
    }
    #buscador input {
        margin-right: 2em;
        width: 15em;
    }
    #miSeleccion li a{
        text-align: center;
        width: 100%;
        display: block;
        

    }
    

}
@media screen and (max-width: 390px) {
    #header{
        
        width: 100vw;
    }
    #header button{
        display: none;
    }
    #miSeleccion{
        margin-right: 1em;
        margin-left: 1em;
    }
    #buscarPeliculas{
        margin-right: 1em;
        margin-left: 1em;
    }
    #buscador input {
        margin-right: 2em;
        width: 10em;
    }
    
    #miSeleccion li a{
        text-align: center;
        width: 100%;
        display: block;
        

    }
   
}
